@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="background-color:yellow">Welcome to the Home Page</h1>
    <img src="https://1.bp.blogspot.com/-JKmoZC3pjEA/YMj2XHISR8I/AAAAAAAADg8/-iNhrDxaGSUScdM_jf8P9p4wCl32geFBwCNcBGAsYHQ/s16000/Employee%2BManagement%2BSystem%2BProject.webp" alt="Site Logo" width="900">
